pandas~=1.1.3
rq~=1.9.0
flask~=1.1.1
flask_cors~=3.0.10
sqlalchemy~=1.4.26
numpy~=1.21.5
hdbscan~=0.8.27
scipy~=1.7.3
scikit-learn~=1.0.1
torch~=1.10.1
gensim~=3.8.3
jmespath~=0.10.0
py~=1.11.0
colorama~=0.4.4
pip~=21.3
toml~=0.10.2
configparser~=5.2.0
zlib~=1.2.11
wheel~=0.37.1
brotli~=1.0.9
openssl~=1.1.1n
cryptography~=36.0.1
lxml~=4.7.1
tornado~=6.1
keyring~=21.8.0
attrs~=21.2.0
clikit~=0.6.2
cleo~=0.8.1
ipython~=7.30.1
decorator~=5.1.0
parso~=0.8.3
jedi~=0.18.1
pytz~=2021.3
yaml~=0.2.5
pyyaml~=5.4.1
botocore~=1.18.18
boto3~=1.15.12
s3transfer~=0.3.7
simplejson~=3.17.0
cachy~=0.3.0
msgpack~=1.0.2
markupsafe~=2.0.1
werkzeug~=2.0.1
dataclasses~=0.8
jinja2~=3.0.3
typing_extensions~=4.0.1
click~=7.1.2
python-dotenv~=0.12.0
blinker~=1.4
itsdangerous~=2.0.1
pytest~=6.2.5
cython~=0.29.26
setuptools~=59.8.0
cffi~=1.15.0
numba~=0.53.0
regex~=2021.11.10
pkginfo~=1.7.1
pylev~=1.4.0
pastel~=0.2.1
importlib_metadata~=4.10.0
openpyxl~=3.0.9
matplotlib~=3.5.0
python-dateutil~=2.8.2
pyarrow~=6.0.1
xlrd~=2.0.1
poetry~=1.1.11
jsonschema~=4.3.2
tomlkit~=0.7.2
six~=1.16.0
pyparsing~=3.0.6
pyrsistent~=0.18.0
idna~=2.10
twisted~=21.7.0
packaging~=20.9
virtualenv~=20.10.0
pexpect~=4.8.0
shellingham~=1.4.0
subprocess32~=3.5.4
requests~=2.23.0
crashtest~=0.3.1
cachecontrol~=0.12.10
html5lib~=1.1
wcwidth~=0.2.5
pluggy~=1.0.0
iniconfig~=1.1.1
certifi~=2021.10.8
chardet~=3.0.4
pygments~=2.10.0
ipykernel~=5.3.4
traitlets~=5.1.0
testpath~=0.5.0
backcall~=0.2.0
pickleshare~=0.7.5
jupyter_client~=7.1.0
ptyprocess~=0.7.0
tzlocal~=4.1
urllib3~=1.25.11
coverage~=6.2
greenlet~=1.1.2
webencodings~=0.5.1
pillow~=8.4.0
ipython_genutils~=0.2.0
black~=21.12b0
mock~=4.0.3
pyodbc~=4.0.32
pymysql~=1.0.2
backports~=1.0
distlib~=0.3.3
filelock~=3.4.2
platformdirs~=2.4.0
python~=3.8.12
importlib_resources~=5.4.0
humanfriendly~=10.0
coloredlogs~=15.0.1
unicodedata2~=14.0.0
transformer~=0.0.1
dicttoxml~=1.7.4
jinjasql~=0.1.7